/*Componentes de estrutura*/
*{
    margin: 0px;
    padding: 0px;
}
html{
    height: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(12, 12, 12);
}
main{
    background-color: rgb(155, 151, 151);
    margin: 10px;
}
.lancamentos{
    background-color: rgb(155, 151, 151);
    border-bottom: solid 1px lightgray;
}
footer{
    background-color: rgb(29, 29, 29);
    clear: both;
    text-align: center;
    padding: 30px 0;
}
footer p{
    color: white;
}
.banner{
    height: 350px;
    width: 500px;
}
.sobre p{
    font-weight: 550;
}
/*Componentes Header*/
.menu{
    background-color: rgb(29, 29, 29);
}
.nav-link{
    color: white !important; 
}

.navbar-nav{
    margin-bottom: 1em;
    margin: 10px;
}
.buscar{
    height: 46px;
    border-color: black;
    color: black;
    background-color: rgb(124, 115, 115);
    border-radius: 5px;
}
.buscar:hover{
    background-color: black;
    border-color: black;
}
.pesquisar{
    padding: 20px;
}
.nav-item{
    padding: 10px;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
}
.menu ul li a:hover{
    background-color: black;
}
/*Componentes Destaque*/
.desta2{
    text-align: center;
  }
  .container .postagem1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.card{
    width: 300px;
    height: 200px;
    margin: 30px;
    padding: 0px;
    border-radius: 15px;
}
#destaquePag{
    width: 500px;
    height: 500px;
    border-radius: 5px;
}
.container .postagem1 p:nth-child(9){
    color: darkred;
}
.nota{
    color: black;
}
.desta1{
    float: right;
    font-weight: 400;
 }
 /*Componentes carousel*/
 .carouImg{
    width: 500px;
    height: 500px;
 }
 /*Componentes Games*/
 
 /*Componentes Plataforma*/
 .plataforma img{
    height: 200px;
    width: 300px;
    border-radius: 15px;
 }
 .plataforma{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-bottom: solid 1px lightgray;
 }
 /*Componentes Publishers*/
 .publishers img{
    height: 200px;
    width: 300px;
    border-radius: 15px;
 }
 .publishers{
    padding-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-bottom: solid 1px lightgray;
 }
 /*Componentes Sobre*/
.sobre{
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
iframe, object, embed {
    max-width: 100%;
}
.ordem{
    margin-right: 10px;
}

/*Menu Mobile*/
@media screen and (max-width: 768px) {

    .navbar-nav{
        display: flex;
        position: fixed;
        flex-wrap: wrap;
        align-content: center;
        overflow: hidden;
    }
    header{
        background-color: gray;
        height: 60px;
        border-bottom: solid 0px lightgray;
        padding: 20px;
    }
    .header nav {
      display: absolute;
        width: 100%;
        height: 100%;
    }
 
    .menu-icon {
        width: 50px;
        height: inherit;
        display: block;
        position: absolute;
        top: -6px;
        right: 630px;
        line-height: 60px;
        color: rgb(255, 255, 255);
        z-index: 999;
    }
    #menuToggle:checked ~ label i:nth-child(2) {
        display: block;
      }
      #menuToggle:checked ~ label i:first-child {
        display: none;
      }
      #menuToggle:not(:checked) ~ label i:first-child {
        display: block;
      }
      #menuToggle:not(:checked) ~ label i:nth-child(2) {
        display: none;
      }
    #menuToggle:checked ~ ul {
        height: 100%;
    }
    .menu-icon i {
        font-size: 1.7em;
    }


}